<section id="projects" aria-labelledby="projects-title">
  <div class="section-head">
    <div>
      <h2 class="section-title" id="projects-title">My Projects</h2>
      <p class="section-sub">Open source projects that I’ve worked on.</p>
    </div>
    <a class="view-all" href="https://github.com/{{ user.login }}?tab=repositories">View all repositories {% include icon.html name="arrow-right" px=14 %}</a>
  </div>
  <div class="repo-grid">
    {%- for repo_name in site.projects.include %}
      {%- assign repository = site.github.public_repositories | where: 'name', repo_name | first %}
      {%- if repository %}
    {% include repo-card.html %}
      {%- endif %}
    {%- endfor %}
  </div>
</section>
