<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My recent public works</h2>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>GOREPL</h2>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Please visit 
	<a href="https://gorepl.com/" {% if site.style == 'dark' %}class="text-white"{% endif %} target="_blank">
    	gorepl.com
  	</a> to know more about gorepl.
</p>
<div class="videoWrap">
    <img width="560" height="315" src="assets/gorepl_1.gif" frameborder="0"></img>
</div>
<br><br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
	you can share your REPL/IDE sessions with others as well.
</p>
<div class="videoWrap">
    <img width="560" height="315" src="assets/gorepl_2.gif" frameborder="0"></img>
</div>