{%- assign repo_description = site.projects.descriptions[repository.name] | default: repository.description -%}
<article class="box repo">
  <div class="repo-head">
    {% include icon.html name="repo" class="repo-icon" %}
    <a class="repo-name" href="{{ repository.html_url }}">{{ repository.name }}</a>
    <span class="label">Public</span>
  </div>
  <p class="repo-desc">{{ repo_description }}</p>
  <div class="repo-meta">
    {%- if repository.language %}
    <span><span class="lang-dot" style="background-color: {{ site.data.colors[repository.language].color | default: '#8b949e' }}"></span>{{ repository.language }}</span>
    {%- endif %}
    {%- if repository.stargazers_count > 0 %}
    <a href="{{ repository.html_url }}/stargazers" aria-label="{{ repository.stargazers_count }} stars">{% include icon.html name="star" %}{{ repository.stargazers_count }}</a>
    {%- endif %}
    {%- if repository.forks_count > 0 %}
    <a href="{{ repository.html_url }}/network/members" aria-label="{{ repository.forks_count }} forks">{% include icon.html name="fork" %}{{ repository.forks_count }}</a>
    {%- endif %}
  </div>
</article>
