---
layout: default
---
{% include vars.html %}
<article class="box post">
  <a class="back-link" href="{{ '/' | relative_url }}">{% include icon.html name="arrow-left" px=14 %} Home</a>
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-meta">Published {{ page.date | date: "%b %d, %Y" }}</p>
  <div class="article">
    {{ content }}
  </div>
  {%- if site.social_media %}
  <div class="share">
    <span>Share</span>
    {%- for account in site.social_media %}
      {%- assign service = site.data.social_media[account[0]] %}
      {%- if service.share_url_prefix %}
    <a href="{{ service.share_url_prefix }}{{ page.url | absolute_url | url_encode }}" aria-label="Share on {{ service.name }}" title="Share on {{ service.name }}">{{ service.icon_svg | replace: '#959da5', 'currentColor' | replace: '#959DA5', 'currentColor' }}</a>
      {%- endif %}
    {%- endfor %}
  </div>
  {%- endif %}
</article>
